// CSS Color Variables

:root {
  --clr-red-orange: #ea3f25;
  --clr-yellow-orange: #f3a73b;
  --clr-cyan-blue: #72f9fd;

  --clr-dark-green: #005248;
  --clr-forest-green: #4e9656;
  --clr-cyan-green: #00a6a7;

  --clr-dark-blue: #2060f6;
  --clr-beige: #ede9d0;

  --clr-medium-grey: #707070;
  --clr-dark-grey: #383737;
}
